---
import TitleContainer from "../ui/TitleContainer.astro";
import ParagraphContainer from "../ui/ParagraphContainer.astro";
import { Image } from "astro:assets";
import Button from "../ui/Button.astro";

interface Props {
  title: string;
  subtitle?: string;
  image?: ImageMetadata;
  imageAlt?: string;
  primaryAction?: {
    href: string;
    label: string;
    target?: string;
  };
  secondaryAction?: {
    href: string;
    label: string;
    target?: string;
  };
  className?: string;
}

const {
  title,
  subtitle,
  image,
  imageAlt = "Hero image",
  primaryAction,
  secondaryAction,
  className = "",
} = Astro.props;
---

<section
  class="flex justify-between items-center overflow-hidden max-w-full 
  max-2xl:py-10 2xl:px-0
  max-xl:py-10 max-xl:px-4
  max-lg:py-10 max-lg:px-4 
  max-sm:py-10 max-sm:px-4"
>
  <div class="flex flex-col w-150">
    <TitleContainer>
      {title}
    </TitleContainer>

    {subtitle && <ParagraphContainer>{subtitle}</ParagraphContainer>}

    {
      (primaryAction || secondaryAction) && (
        <div class="flex flex-row mt-6 gap-4 max-sm:justify-center">
          {primaryAction && (
            <Button
              href={primaryAction.href}
              label={primaryAction.label}
              target={primaryAction.target ?? ""}
            />
          )}

          {secondaryAction && (
            <Button href={secondaryAction.href} label={secondaryAction.label} target={secondaryAction.target ?? ""} />
          )}
        </div>
      )
    }

    <slot />
  </div>

  {
    image && (
      <div class="flex flex-col">
        <Image
          src={image}
          loading="lazy"
          decoding="async"
          alt={imageAlt}
          class={`lg:flex max-md:flex max-sm:hidden ${className}`}
        />
      </div>
    )
  }
</section>
