---
import ContainerCards from "../ui/ContainerCards.astro";
import PostCard from "../blog/PostCard.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts", ({ data }) => data);
---

<section class="max-2xl:px-0
  max-xl:px-0 
  max-lg:px-4 
  max-sm:px-4">
  <div class="flex justify-between">
    <h3 class="text-2xl font-normal text-gray-300">Articulos más recientes</h3>
    <a href="/blog" class="text-xl text-blue-500">Ver todo →</a>
  </div>
  <ContainerCards>
    {
      posts.slice(0, 4).map((post) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          date={post.data.date}
          slug={post.slug}
          tags={post.data.tags}
        />
      ))
    }
  </ContainerCards>
</section>
