---
import SocialMenu from "./SocialMenu.astro";
interface Props {
  title?: string;
  nav?: { label: string; href: string }[];
  sticky?: boolean;
}
const { title = "JD BLOG", nav = [], sticky = true } = Astro.props;
const navItems = [
  { label: "Home", href: "/" },
  { label: "Blog", href: "/blog" },
  { label: "About", href: "/about" },
];
---

<header class="sticky top-0 z-50 px-4">
  <nav
    class="relative mx-auto max-w-6xl h-14
      grid grid-cols-[auto_1fr_auto] items-center
      rounded-b-xl
      bg-black-800/50
      px-5 py-3
      backdrop-blur-sm"
  >
    <!-- Logo -->
    <a href="/" class="flex items-center gap-2 font-semibold text-zinc-100">
      <h2 class="text-xl text-blue-500 font-semibold">{title}</h2>
    </a>

    <!-- Desktop nav -->
    <ul class="hidden md:flex justify-center gap-6 text-sm text-zinc-200">
      {
        nav.map((item) => (
          <a
            href={item.href}
            class="flex items-center text-lg text-white py-1 px-2 transition-colors"
          >
            <span class="ml-1">{item.label}</span>
          </a>
        ))
      }
    </ul>

    <!-- Mobile menu button -->
    <details class="md:hidden justify-self-end group">
      <summary
        aria-label="Toggle navigation"
        class="list-none cursor-pointer text-zinc-200 opacity-80 transition hover:opacity-100"
      >
        <!-- Hamburger -->
        <span class="block w-6 h-0.5 bg-current mb-1"></span>
        <span class="block w-6 h-0.5 bg-current mb-1"></span>
        <span class="block w-6 h-0.5 bg-current"></span>
      </summary>

      <!-- Mobile menu -->
      <ul
        class="absolute left-0 right-0 top-full mt-3
          rounded-xl bg-zinc-800
          px-6 py-4
          flex flex-col gap-4
          text-zinc-200 shadow-lg"
      >
        {
          nav.map((item) => (
            <li>
              <a
                href={item.href}
                class="block text-base opacity-80 transition hover:opacity-100"
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </details>
    <SocialMenu class="hidden md:flex" />
  </nav>
</header>
